<p id="notice"><%= notice %></p>


  <div class="container"> 
    <div class="row">

        <div class="col-lg-6">
          <div class="top-padding">

                <% @messages.each do |message| %>
                    <div class="messages-list">
                      <% if message.sender.email != message.conversation.user1.email %>             
                            <div class="message-sent">
                                <p class="tweetelement">Recipient : <%= message.conversation.user1.email %></p>
                                <p class="tweetelement">Message : <%= message.content %></p>
                                <button class="button3"><%= link_to 'Show', [@conversation, message] %></button>
                                <button class="button3"><%= link_to 'Edit', edit_conversation_message_path(@conversation, message) %></button>
                                <button class="button3"><%= link_to 'Destroy', [@conversation, message], method: :delete, data: { confirm: 'Are you sure?' } %></button>
                                <p class="tweetelement">Sender: <%= message.sender.email %></p>    
                            </div>
                      

                      <%# if message.sender.email != message.conversation.user2.email %>
                      <% else %>
                            <div class="message-received">
                                <p class="tweetelement">Recipient : <%= current_user.email %></p>
                                <p class="tweetelement">Message : <%= message.content %></p>
                                <button class="button3"><%= link_to 'Show', [@conversation, message] %></button>
                                <button class="button3"><%= link_to 'Edit', edit_conversation_message_path(@conversation, message) %></button>
                                <button class="button3"><%= link_to 'Destroy', [@conversation, message], method: :delete, data: { confirm: 'Are you sure?' } %></button>
                                <p class="tweetelement">Sender: <%= message.sender.email %></p>    
                            </div>
                      <% end %>    
                  </div>
                <% end %>
          </div> <%# top-padding %>
      </div> <%# col-lg-3 %>

    <div class="col-lg-1">
    </div>

              <div class="col-lg-5">
                <div class="top-padding">

                        <h1>Show Conversation</h1>
                        <hr>

                        <p>
                          <strong>Sender:</strong>
                          <%= @message.sender.email %>
                        </p>

                        <p>
                          <strong>Content:</strong>
                          <%= @message.content %>
                        </p>

                        <%# link_to 'Edit', edit_message_path(@message) %> |
                        <%# link_to 'Back', messages_path %>
                        <%= link_to 'Edit', edit_conversation_message_path(@message) %> |
                        <%= link_to 'Back', conversation_messages_path %>
                </div> <%# top-padding %>
              </div> <%# col-lg-5 %>
       </div><%# top-padding %>
</div><%# row %>