<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container"> 
    <div class="row">

      <div class="col-lg-3">
        <div class="top-padding">

          <%= image_tag @profile.avatar_url(:thumb) unless @profile.avatar.blank? %>
          <div class="form-group">
            <%# form.hidden_field :avatar %>
            <%= form.file_field :avatar, id: :profile_avatar %>
          </div>

      <div class="card-footer text-center">
          <div class="actions">
          <%= form.submit class: 'btn btn-primary' %></div>
          <div class="actions">
          <%= link_to 'Show', @profile, class:"btn btn-primary" %></div>
       </div> <%# card-footer %>

       </div> <%# top-padding %>
      </div> <%# col-lg-3 %>

    <div class="col-lg-1">
    </div>

      <div class="col-lg-8">
         <div class="top-padding">
           <div class="description">

              <div class="form-group">
                <%= form.label :first_name %>
                <%= form.text_field :first_name, id: :profile_first_name %>
              </div>

              <div class="form-group">
                <%= form.label :last_name %>
                <%= form.text_field :last_name, id: :profile_last_name %>
              </div>

              <div class="form-group">
                <%= form.label :BSB, "6 digits BSB (include 0 if it is part of the BSB)" %>    
                <%= form.text_field :bsb, id: :profile_bsb, placeholder: "XXXXXX" %>
              </div>

              <div class="form-group">
                <%= form.label :account_number, "Account number (include 0 if it is part of the account number)"%>
                <%= form.text_field :account_number, id: :profile_account_number %>
              </div>

              <div class="form-group">
                <%= form.label :mobile_number, "10 digits Mobile number (include 0 if it is part of the mobile number)" %>
                <%= form.text_field :mobile_number, id: :profile_mobile_number %>
              </div>

              <div class="field">
                  <h2>Privacy Policy  <%= form.check_box :privacy, id: :profile_privacy %></h2>
                  <p>I have read and understood that DirtCheap.com, the Company, to collect my information in order to register my details for a business account. Without my information, the Company would be unable to provide any service. My information is handled in accordance with the Company Privacy Policy which outlines how to access and/or correct my personal information or make a privacy related complaint. </p>
            </div>

        </div><%# top-padding %>
    </div><%# row %>
  </div><%# container %>
<% end %>
