<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @profile.avatar %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>BSB:</strong>
  <%= @profile.bsb %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @profile.account_number %>
</p>

<p>
  <strong>Date Joined:</strong>
  <%= @profile.created_at.strftime("%d %b %Y") %>
</p>

<p>
  <strong>Last Update:</strong>
  <%= @profile.updated_at.strftime("%d %b %Y") %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @profile.privacy %>
</p>




<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back to Profile Home Page', profiles_path %>
