
<div class="container-fluid">  
  <div class="top-padding">   
      <div class="row">
        <div class="col-sm-6">
        <%# User login %>
            <div class="sign-in">
              <% if user_signed_in? %>
                <h6>Signed in as: <%= current_user.email %> | Signed in Username is :  <%= current_user.username %> | First name is :  <%= current_user.profile.first_name %></h6>
              <%else%>
                <h6><%= link_to "Already has an account ?", new_user_session_path%> <%= link_to 'Sign up', new_user_registration_path %></h6>
              <%end%>
            </div><%# Sign-in %>
        </div><%# col-sim-6 %>
        <div class="col-sm-6">
          <div class="search_align">
        <%# Search Area %>
            <!--<div class="input-group"><%# To stick the search bar and icon together %>
                <input type="text" class="form-control" placeholder="Search"><%# To stick the search bar %>
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><%# To search box to place the icon in together %>
                      <i><%# fa_icon "search 1x " %></i><%# The search icon %>
                    </button>
                </div> input-group-->
              <%= form_with url: household_items_path, method: :get, local:true do |f| %>    
                  <%= f.text_field :search, placeholder: "Search book by title, genre, year_purchase or location", class:"search_item" %>    
                  <br>
                  <%= f.button (fa_icon "search", text: "search") %>
                    
              <% end %>
              </div>
          </div><%# col-sim-6 %>
    </div><%# row %>
  </div><%# top-padding %>
</div><%# container-fluid%>
<br>


<%# MAIN BODY %>

<div class="container-fluid"> 

    <div class="row">

      <% @household_items.each do |household_item| %>
      <div class="col-lg-3 col-md-6 mb-4 body-item">
       
          <div class="card h-100">
            <div class="card-body">
          
              <h4 class="card-title, text-center ">Title : <%= household_item.title %></h4>
                 
                      <div class="list-image, text-center">
                       <% if household_item.item_image.present? %>
                            <%= link_to image_tag(household_item.item_image_url(:original), size: "200x300", class:"rounded resize"), household_item %>
                        <% else %>
                            <%= link_to image_tag("no-image-uploaded.png",size: "200x300", class:"rounded resize"), household_item %>
                    <%# holder_tag '200x300',"No Image has been Uploaded" , class:"img-thumbnail"%>
                        <% end %></a><br>
                      </div>
           
          <%# link_to 'Edit', edit_household_item_path(household_item) %>
          <%# link_to 'Destroy', household_item, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <div class="description">
                        <p class="card-text">
                        <span><strong>Total Charge : <%= format_currency total_cost(household_item.transport_cost_cents,household_item.price_cents) %></strong></span><br>
                        <span>Classification : <%= household_item.genre %></span> <br>
                        <span>Year purchased : <%= household_item.year_purchase %></span><br>  
                        <span>Location : <%= household_item.location %></span></p>  
                    </div><%# description %>
              <div class="card-footer text-center">
                <%= link_to 'Find out more !', household_item, class:"btn btn-primary btn-xl js-scroll-trigger" %>
                <%= link_to 'Buy', new_payment_path(household_item_id: household_item.id), class:"btn btn-primary"%>
                <%= link_to 'Write Review', new_review_path(household_item_id: household_item.id), class:"btn btn-primary"%>
              </div>

              </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


